<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:task="http://www.springframework.org/schema/task" 
		xmlns:util="http://www.springframework.org/schema/util"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
       		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- Initialize application from properties file -->
	<bean class="com.aleksm.simpleclicktracker.config.SCTConfiguration" factory-method="getInstance" />	
	
	<!-- Services -->
	<bean id="com.aleksm.simpleclicktracker.service.admin.AddCampaignService" class="com.aleksm.simpleclicktracker.service.admin.AddCampaignServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.GetCampaignService" class="com.aleksm.simpleclicktracker.service.admin.GetCampaignServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.GetAllCampaignsService" class="com.aleksm.simpleclicktracker.service.admin.GetAllCampaignsServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.UpdateCampaignService" class="com.aleksm.simpleclicktracker.service.admin.UpdateCampaignServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.DeleteCampaignService" class="com.aleksm.simpleclicktracker.service.admin.DeleteCampaignServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.GetAllCampaignsForPlatformService" class="com.aleksm.simpleclicktracker.service.admin.GetAllCampaignsForPlatformServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.GetNumberOfClicksPerCampaignPlatformService" class="com.aleksm.simpleclicktracker.service.admin.GetNumberOfClicksPerCampaignPlatformServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.admin.GetNumberOfClicksPerPlatformService" class="com.aleksm.simpleclicktracker.service.admin.GetNumberOfClicksPerPlatformServiceImpl" scope="prototype"/>
	<bean id="com.aleksm.simpleclicktracker.service.track.AddClickService" class="com.aleksm.simpleclicktracker.service.track.AddClickServiceImpl" scope="prototype"/>
       
</beans>
       